---
layout: home
---

<div class="home-content">

  <h1>sonsona.cat</h1>
  <h2><span style="font-size:50px;">404</span><br/>Nope! What you're looking for is not here 😟</h2>
  
  <h3>You can try with any of these pages</h3>
  <nav>
  {% for page in site.pages %}
    {% if page.title %}
    <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
    {% endif %}
  {% endfor %}
  </nav>
  
  <div class="last-post">
    <h3>Or check my last post</h3>
    <ul class="post-list">
      {% assign post = site.posts.first %}
      <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.excerpt %} • <i>{{ post.excerpt }}</i>{% endif %}</span>
          <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h4>
      </li>
    </ul>
  </div>
</div>
