---
layout: home
---

<div class="home-content">

  <h1>sonsona.cat</h1>

  <h2>Benvinguts! ¡Bienvenidos! Welcome!</h2>
  
  <nav>
  {% include navigation.html %}
  </nav>
  
  <div class="last-post">
    <h3>My last post</h3>
    <ul class="post-list">
      {% assign post = site.posts.first %}
      <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.excerpt %} • <i>{{ post.excerpt }}</i>{% endif %}</span>
          <h4>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h4>
      </li>
    </ul>
  </div>
</div>
