---
layout: default
title: Projects
permalink: /projects/
---

<h1 class="post-title">Projects</h1>

{% for project in site.projects %}
    <a href="{{ project.url }}">
        <h2>{{ project.title }}</h2>
    </a>
    <span>{{ project.date | date_to_string: "ordinal", "US" }} - {{ project.category }}</span>
    {% if project.image %}
    <a href="/{{ project.project_url }}/">
        <img src="{{ project.image.url }}" alt="{{ project.image.alt }}" title="{{ project.image.title }}">
    </a>
    {% endif %}
{% endfor %}
