/**
 * Site home
 */
.home {
    background-color: $contrast-color;
    padding: 15%;
    text-align: center;
}

.home-content nav a {
    margin-right: 5px;
    margin-left: 5px;
}

.last-post {
  margin: 20px auto;
  max-width: 400px;
}

/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    
    background-color: $contrast-color;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 2px solid $contrast-color;
//    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.post-share {
    margin-bottom: 30px;
    
    .share-wrapper {
        text-align: center;
    }
    
    .share-button {
        display: inline-block;
        width: -webkit-calc(25% - (#{$spacing-unit} / 2));
        width:         calc(25% - (#{$spacing-unit} / 2));
        padding: 5px;
        
        &:hover {
            color: white;
            border-radius: 2px;
            text-decoration: none;
            
//            .share-icon {
//                display: inline-block !important;
//            }
        }
        
        @include media-query($on-palm) {
            width: -webkit-calc(20% - (#{$spacing-unit} / 2));
            width:         calc(20% - (#{$spacing-unit} / 2));
            
            color: white;
            border-radius: 2px;
            text-decoration: none;
            border: none !important;
            
            .share-icon {
                display: inline-block !important;
                margin: 10px 0px 0px 0px !important;
            }
            
            .share-title {
                display: none;
            }
        }
        
        .share-icon {
            background-image: url(white-sprite.png);
            background-size: 17px 320px;
            background-position: 0 0;
            display: none;
            width: 17px;
            height: 21px;
            margin: 10px 10px 0px 0px;
        }
        
//        .share-title {
//            vertical-align: super;
//        }
    }
    
    .twitter {
        border-bottom: 2px solid #55acee;
        
        &:hover {
            background-color: #55acee;
        }
        
        @include media-query($on-palm) {
            background-color: #55acee;
        }
        
        .share-icon {
            background-position: 0px -59px;
        }
    }
    .facebook {
        border-bottom: 2px solid #3a5795;
      
        &:hover {
            background-color: #3a5795;
        }
        
        @include media-query($on-palm) {
            background-color: #3a5795;
        }
        
        .share-icon {
            background-position: 0px -38px;
        }
    }
    .gplus {
        border-bottom: 2px solid #db4437;
    
        &:hover {
            background-color: #db4437;
        }
        
        @include media-query($on-palm) {
            background-color: #db4437;
        }
        
        .share-icon {
            background-position: 0px -78px;
        }
    }
    .email {
        border-bottom: 2px solid orange;
    
        &:hover {
            background-color: orange;
        }
        
        @include media-query($on-palm) {
            background-color: orange;
        }
        
        .share-icon {
            background-position: 0px -258px;
        }
    }
    .whatsapp {
        background-color: #60b82d;
        display: none;
        
        @include media-query($on-palm) {
            display: inline-block;
        }
        
        .share-icon {
            background-position: 0px -198px;
        }
    }

}

.nav-next {
    float:right;
}