---
layout: default
page_type: post
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">on {{ page.date | date: "%b %-d, %Y" }}
      {% if page.categories %} • {{ page.categories | array_to_sentence_string  }}{% endif %}
    </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  
  <aside class="post-share">
      <h3 class="share-header">Share this post</h3>
      <div class="share-wrapper">
          <a class="share-button twitter" href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.baseurl | prepend: site.url }}&text={{ page.title | uri_escape }}%20by%20@msonsona" title="Share on Twitter" target="_blank">Twitter</a>
          <a class="share-button facebook" href="https://www.facebook.com/dialog/share?app_id=575249442622139&display=popup&href={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}&redirect_uri={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}" title="Share on Facebook" target="_blank">Facebook</a>
          <a class="share-button gplus" href="https://plus.google.com/share?url={{ page.url | prepend: site.baseurl | prepend: site.url }}" onclick="javascript:window.open(this.href,
  '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" title="Share on Google+">Google+</a>
          <a class="share-button whatsapp" href="whatsapp://send?text={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}" title="Share on Whatsapp">Whatsapp</a>
          <a class="share-button email" href="mailto:?subject={{ page.title | uri_escape }}%20by%20Miquel%20Sonsona&amp;body={{ page.url | prepend: site.baseurl | prepend: site.url | uri_escape }}" title="Share via email" target="_blank">Email</a>
  </aside>

  <nav class="post-navigation">
      <h3 class="share-header">Or keep reading</h3>
    {% if page.previous %}<a class="nav-prev" href="{{ page.previous.url | prepend: site.baseurl }}">« {{ page.previous.title }}</a>{% endif %}
    {% if page.next %}<a class="nav-next" href="{{ page.next.url | prepend: site.baseurl }}">{{ page.next.title }} »</a>{% endif %}
  </nav>
    
</div>